body  {font-family: 'Rubik Moonrocks', cursive;}
h1    {font-size: 50px;
       text-align: center;}
h3    {text-align: center;}
section{
    display: flex;
}

#p1 { 
    font-size: 30px;
    text-align: justify;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    }